<h1>My tasks</h1>
<ul>
  <% for task in @tasks %>
  <li>
    <i class="fa <%= task.completed ? 'fa-check-square' : 'fa-square' %> "> </i>
     <%= link_to(task.title, task_path(task))  %>
  </li>
  <% end %>
</ul>
